<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfil</title>
    <link rel="stylesheet" href="perfil.css">
</head>
<body>

<!--MODAL EDITAR PERFIL-->
    <button class="btnEp" id="btnEp">Editar Perfil</button>
      
      <dialog>

        <div class="edtPerfil" id="edtPerfil">
            <h2>Editar Perfil</h2>
<!--Trocar Imagem-->

            <div class="alterarImagem" id="alterarImagem">
                <img src="..\Views\Perfil\imagens\velho1.jpg" alt="foto-perfil">
                <button>ALTERAR IMAGEM</button>
            </div>
<!--end Trocar Imagem-->
        <div class="infoPerfil" id="infoPerfil">
    
    <!--Nome do Perfil-->
                <div class="nomePerfil" id="nomePerfil">
                    Nome:
                    <input type="text" class="inpNome" id="inpNome" placeholder="João Pedro da Silva">
                </div>
    <!--end Nome do Perfil-->
    <!--Email do Perfil-->
                <div class="emailPerfil" id="emailPerfil">
                    Email:
                    <input type="text" class="inpEmail" id="inpEmail" placeholder="rodavelha@gmail.com">
                </div>
    <!--end Email do Perfil-->
    <!--Senha do Perfil-->
                <div class="senhaPerfil" id="senhaPerfil">
                    Senha:
                    <input type="text" class="inpSenha" id="inpSenha" placeholder="rodavelha123">
                </div>

<!--end Senha do Perfil-->
       </div>
<!--Cancelar e Salvar-->
            <div class="cancelSave" id="cancelSave">
                <button class="cancelBtn" id="cancelBtn">CANCELAR</button>
                <button class="saveBtn" id="saveBtn">SALVAR</button>
            </div>
<!--end Cancelar e Salvar-->
<!--Excluir Perfil-->
            <div class="excluirPerfil" id="excluirPerfil">
                <a href="#"><button class="excluirBtn" id="excluirBtn">Excluir perfil</button></a>
            </div>
<!--end Excluir Perfil-->
        </div>
      </dialog>
<!--end MODAL EDITAR PERFIL-->
     

      <script src="perfil.js"></script>
</body>
</html>