@model RodaVelha.Models.User

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/login.css" />

  <div class="container-image-form">
    <div class="image-auth">
      <img
        src="~/assets/images/loginRegister/register.png"
        alt="Avatar"
        style="width: 500px; height: 400px"
      />
    </div>
      <div class="container-card">
        <h1 class="container-title mb-4 ">Registrar</h1>
        <form asp-action="Create" class="container-form">
          <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <div class="container-label-input">
            <label asp-for="Name" class="label-default"></label>
            <input asp-for="Name" class="input-default" />
            <span asp-validation-for="Name" class="text-danger"></span>
          </div>
          <div class="container-label-input">
            <label asp-for="Email" class="label-default"></label>
            <input asp-for="Email" class="input-default" />
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
          <div class="container-label-input">
            <label asp-for="Password" class="label-default"></label>
            <input asp-for="Password" type="password" class="input-default" id="password" />
            <i class="fa-solid fa-eye eye-icon" id="eye"></i>
            <i
              class="fa-solid fa-eye-slash eye-slash-icon"
              id="slash-eye"
            ></i>
          </div>
            <span asp-validation-for="Password" class="text-danger"></span>
          <div class="form-group mt-1">
            <a asp-action="Login" class="text-decoration-none float-start mt-2" asp-route-returnurl="@ViewData["ReturnUrl"]">Já tem conta?</a>
          </div>
          <h6 class="text-danger text-center">@ViewBag.Message</h6>
          <div class="form-group">
            <input type="submit" value="Criar conta" class="btn-default" />
          </div>
        </form>
      </div>
  </div>

@section Scripts {
  <script src="~/js/login.js"></script>

  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
