@{
    ViewData["Title"] = "Conta Excluída";
}

<main class="d-flex p-0 flex-column align-items-center justify-content-center" style="width: 100vw; height: 70vh; background-color: #ede1d2 !important;">
  <h2>Sua conta foi excluída com sucesso!</h2>
  <a class="btn btn-outline-success" style="width: 8rem; height: 2.5rem;" asp-action="Index">Ir para home</a>
</main> 