@model RodaVelha.Models.User

@{
    ViewData["Title"] = "Edit";
}

<link rel="stylesheet" href="~/css/editPerfil.css" />


<button class="btnEp" id="btnEp">Editar Perfil</button>

<dialog>

    <div class="edtPerfil" id="edtPerfil">
        <h2>Editar Perfil</h2>
        <!--Trocar Imagem-->

        <div class="alterarImagem" id="alterarImagem">
            <img src="imagens/velho1.jpg" alt="foto-perfil">
            <button>ALTERAR IMAGEM</button>
        </div>
        <div class="infoPerfil" id="infoPerfil">
            <form asp-action="Edit">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="nomePerfil" id="nomePerfil">
                    <label asp-for="Name" class="control-label"></label>                    
                <input asp-for="Name" class="inpNome" />

                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="inpNome" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label>
                    <input asp-for="Photo" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</dialog>


    <div>
        <a asp-action="Index">Voltar</a>
    </div>

    @section Scripts {
          <script src="~/js/editPerfil.js"></script>

        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
