body::before {
    content: "";
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

dialog[open] ~ body::before {
    display: block;
}


dialog::backdrop{
    background-color: #ede1d2;
    
}

dialog{
    background-color: #cbb89d;
    border: #412f26;
    border-width: 2px;
    border-style: solid; 
    border-radius: 10px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: opacity 0.3s ease;
    opacity: 0;
    
}

dialog[open] {
    opacity: 1;
}

dialog[open] ~ body::before {
    display: block;
}

/*título modal*/
dialog h2{
    font-size: 28px;
    text-align: center;
    color: #412f26;
}
/*end título modal*/

/*imagem e alterar imagem*/
dialog img{
    border-radius: 50%;
    width: 160px;
    margin-right: 25px;
    margin-top: 20px;
    border: 2px solid #412f26;
}
dialog .alterarImagem{
    display: flex;
    justify-content:center ;
    align-items: center;
    
}

dialog .alterarImagem > button{
    font-size: 14px;
    background-color: #5d2510;
    color: white;
    border: none;
    border-radius: 6px;
    width: 135px;
    height: 30px;
    cursor: pointer;
    margin-left: 25px;
    margin-top: 20px;

        
}

dialog .alterarImagem > button:hover{
    background-color: #6a6f4c;
    color: white;
}
/*end imagem e alterar imagem*/

/*3 campos do perfil*/
dialog .infoPerfil{
    display: grid;
    justify-content: center;
    align-items: center;
}
/*end 3 campos do perfil*/

/*nome perfil*/
dialog .nomePerfil{
    display: grid;
    padding: 30px;
}

dialog .inpNome{
    width: 300px;
    height: 30px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    border: 2px solid #412f26;
    transition: border-color 0.3s ease;

}

dialog .inpNome:focus{
    outline: none;
    border-color: #6a6f4c;
}
/*end nome perfil*/

/*email perfil*/
dialog .emailPerfil{
    display: grid;
    padding: 30px;
}

dialog .inpEmail{
    width: 300px;
    height: 30px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    border: 2px solid #412f26;
    transition: border-color 0.3s ease;
}

dialog .inpEmail:focus{
    outline: none;
    border-color: #6a6f4c;
}
/*end email perfil*/

/*senha perfil*/
dialog .senhaPerfil{
    display: grid;
    padding: 30px;
}

dialog .inpSenha{
    width: 300px;
    height: 30px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    border: 2px solid #412f26;
    transition: border-color 0.3s ease;
}

dialog .inpSenha:focus{
    outline: none;
    border-color: #6a6f4c;
}
/*end senha perfil*/

/*cancelar e salvar*/

dialog .cancelSave{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 60px;
}

dialog .cancelBtn{
    background-color: #806044;
    color: white;
    border: none;
    border-radius: 6px;
    height: 30px;
    cursor: pointer;
    margin-right: 15px;
    width: 95px;

}

dialog .cancelBtn:hover{
    background-color: #412f26;
    color: white;
}

dialog .saveBtn{
    background-color: #5d2510;
    color: white;
    border: none;
    border-radius: 6px;
    height: 30px;
    cursor: pointer;
    margin-left: 15px;
    width: 95px;


}

dialog .saveBtn:hover{
    background-color: #6a6f4c;
    color: white;
    
}
/*end cancelar e salvar*/

/*excluir perfil*/
dialog .excluirPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}

dialog .excluirBtn{
    font-size: 12px;
    background-color: #cbb89d;
    border: none;
    cursor: pointer;
}

dialog .excluirBtn:hover{
    color: rgb(150, 7, 7);
    cursor: pointer;   
}
/*end excluir perfil*/

