.card-section{
    display: flex;
}
.icon-remove{
    position: absolute;
    right: -5px;
    top: -15px;

}
.card-completo{
    position: relative;
}
.custom-card{
    border-radius: 20px;
}
.custom-card img{
    border-radius: 20px;
}
.card-completo img:hover {
    transform: translateY(-5px); /* Move o card para cima quando o mouse passa por cima */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.card{
    background-color: #CBB89D;
    border-radius: 20px;
    align-items: center;
}
h1{
    font-size: 2rem
}
.icon-remove{
    cursor:pointer;
}