:root {
    --background-color:#EDE1D2;
    --button-color: #806044;
    --pannel-color: #CBB89D;
    --border-color: #412F26;
}
body{
    background-color: var(--background-color)
}
.icon-remove{
    z-index: 1;
    padding: 5px;
    border: solid 1px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    right: 5px;
    top: 0px;

}
.card-completo{
    width: 18rem;
    position: relative;
    text-align:center;
    height: 16rem;
    
}
.custom-card {
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.custom-card:hover {
    border: solid 5px;
}


.custom-card img{
    border-radius: 25px;
    
}
.card-completo img:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.card{
   
    padding: 15px 15px;
    border: solid 3px var(--border-color);
    background-color: #CBB89D;
    border-radius: 40px;
    align-items: center;
}
.card-body h5{
    font-size:1.10em;
}
.btn-custom {
    
    height: 2.5rem;
    color: white;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
}
.button-edit {
    display: flex;
    justify-content: center;
    width: 15rem;
    align-items: center;
    margin-top: 1rem;
}
h1{
    font-size: 2rem
}
.icon-remove{
    cursor:pointer;
}

img.icon_h1{ 
    width: 25px;
    height: auto;
    /**/
}
.eventos-publicados{
    width: 80%;

}

#main-report{
    background-color: white;
    margin: 1%;
}

@media print{

    #main-report {
        margin:0px;
    }

}