@model RodaVelha.Models.Events

@{
    ViewData["Title"] = "Edit";
}

<h2 class="mt-5 mb-3 d-flex justify-content-center">Editar Evento</h2>
<div class="card mx-3 mx-md-3 mx-lg-auto rounded-5 p-4">
    <div class="container mt-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="mb-4">
                <i class="ph ph-car"></i>
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <i class="ph ph-buildings"></i>
                <label asp-for="Organizer" class="form-label"></label>
                <input asp-for="Organizer" class="form-control" />
                <span asp-validation-for="Organizer" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <i class="ph ph-map-pin-line"></i>
                <label asp-for="Location" class="form-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <i class="ph ph-calendar-check"></i>
                <label asp-for="StartDate" class="form-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="mb-4">
                <i class="ph ph-calendar-x"></i>
                <label asp-for="EndDate" class="form-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            @* <div class="mb-4">
            <i class="ph ph-clock"></i>
            <label asp-for="Horario" class="form-label"></label>
            <input asp-for="Horario" class="form-control" />
            <span asp-validation-for="Horario" class="text-danger"></span>
            </div>
            <div class="mb-4">
            <i class="ph ph-whatsapp-logo"></i>
            <label asp-for="Telefone" class="form-label"></label>
            <input asp-for="Telefone" class="form-control" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="mb-3">
            <label asp-for="Descricao" class="form-label mt-4"></label>
            <textarea asp-for="Descricao" class="form-control" rows="7" maxlength="250"></textarea>
            <span asp-validation-for="Descricao" class="text-danger"></span>
            </div> *@
            <div class="d-flex justify-content-center gap-4">
                <button type="submit" asp-action="Index"
                    class="btn btn-lg mb-4 btn-secondary secondary-1">CANCELAR</button>
                <button type="submit"
                    class="btn btn-lg mb-4 btn-secondary secondary-2">EDITAR</button>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
