:root {
    --cor-1: #6a6f4c;
    --cor-2: #cbb89d;
    --cor-3: #ede1d2;
    --cor-4: #806044;
    --cor-5: #412f26;
}

html,
body {
    background-color: var(--cor-3);
    margin-right: 2%;
    margin-left: 2%;
    overflow-x: hidden;
    max-width: 100%;
}

.card {
    max-width: 1200px;
    background-color: var(--cor-2);
}

.secondary-1 {
    background-color: #806044;
    border: none;
}

.secondary-2 {
    background-color: #412f26;
    border: none;
}

.btn-check {
    background-color: var(--cor-1);
}

#formulario i {
    font-size: 15px;
}
