<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/assets/css/main.css?v=1.0.0" rel="stylesheet" />
    <link href="~/assets/css/forms.css?v=1.0.0" rel="stylesheet" />
    <title>@ViewData["Title"] - RodaVelha</title>
</head>

<body>
    <!--HEADER-->

    <header>
        <div class="logo">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/assets/images/logo.png" alt="logo-rodavelha" /></a>
        </div>
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>

        <nav class="nav-bar">
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="active">INÍCIO</a>
                </li>

                <li>
                    <a href="">PERFIL</a>
                </li>

                <li>
                    <a asp-area="" asp-controller="Events" asp-action="Index">EVENTOS</a>
                </li>

                <li>
                    <a href="">ENTRAR</a>
                </li>
            </ul>
        </nav>
    </header>

    <!--end-HEADER-->


    <!--MAIN-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!--end-MAIN-->


    <!--FOOTER-->
    <footer>
        <div class="container">
            <!--ul 1-->
            <ul id="ul-1">
                <h3>RODA VELHA</h3>
                <p>
                    Reviva a elegância do passado com o Roda Velha: o destino definitivo
                    para entusiastas de carros clássicos.
                </p>
                <div class="redes-sociais">
                    <img src="~/assets/images/wfb.png" alt="Facebook" />
                    <img src="~/assets/images/wx.png" alt="X" />
                    <img src="~/assets/images/wwpp.png" alt="Whatsapp" />
                    <img src="~/assets/images/winsta.png" alt="Instagram" />
                </div>
            </ul>
            <!--end ul 1-->

            <!--ul 2-->
            <ul id="ul-2">
                <h3 class="links" id="links">LINKS</h3>
                <li><a href="#">Início</a></li>
                <li><a href="#">Perfil</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Cadastro</a></li>
            </ul>
            <!--end ul 2-->

            <!--ul 3-->
            <ul id="ul-3">
                <h3 class="suporte" id="suporte">SUPORTE</h3>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Como Funciona</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
            <!--end ul 3-->

            <!--ul 4-->
            <ul id="ul-4">
                <h3>FALE CONOSCO</h3>
                <li>
                    <p>+55 310000-0000</p>
                </li>
                <li>
                    <p>suporterodavelha@gmail.com</p>
                </li>
                <li>
                    <p>Brasil</p>
                </li>
            </ul>
            <!--end ul 4-->
        </div>
    </footer>
    <!--end-FOOTER-->

    <!--SCRIPT-->
    <script>
        hamburger = document.querySelector(".hamburger");
        hamburger.onclick = function () {
            navBar = document.querySelector(".nav-bar");
            navBar.classList.toggle("active");
        }   
    </script>

    <!--end-SCRIPT-->

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
